/*/.idea/
/*/*/.idea/
/*/__pycache__/
/*/.ipynb_checkpoints/
.DS_Store
/*/*/__pycache__/
/*/*/.ipynb_checkpoints/
Demo8/ResNets/ResNet50.h5
Demo9/Car detection for Autonomous Driving/model_data/yolo.h5
